name: Linter

on:
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
  push:
    branches:
      - master
      - development/**

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: 18

    steps:
      - uses: actions/checkout@v2

      - name: Setup Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
          # cache: npm

      - name: Restore build from cache
        uses: actions/cache@v2
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-v2-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-node-v2-

      - name: Install dependencies
        run: yarn install
      - name: Run Linter
        run: yarn run:lint
      - name: Typecheck
        run: yarn rest typecheck && yarn gateway typecheck && yarn events typecheck
